@page "/AddDog/{memberId}"
@attribute [Authorize(Roles = "Registered")]

<h3>AddDog</h3>

@if (_addDogOverview.NewDogViewModel == null)
{
    <p>Loading...</p>
}

else
{
    <p>Name</p>
    <InputText @bind-Value="_addDogOverview.NewDog.Name"></InputText>
    <p>Age</p>
    <InputNumber @bind-Value="_addDogOverview.NewDog.Age"></InputNumber>
    <p>Gender</p>
    <select @bind="@_addDogOverview.NewDog.GenderId">
        @foreach (var gender in _addDogOverview.NewDogViewModel.Genders)
        {
            <option value="@gender.Id">@gender.GenderOption</option>
        }
    </select>
    <p>Breed</p>
    <select @bind="@_addDogOverview.NewDog.DogBreedId">
        @foreach (var breed in _addDogOverview.NewDogViewModel.Breeds)
        {
            <option value="@breed.Id">@breed.Breed</option>
        }
    </select>
    <p>Size</p>
    <select @bind="@_addDogOverview.NewDog.DogSizeId">
        @foreach (var size in _addDogOverview.NewDogViewModel.Sizes)
        {
                <option value="@size.Id">@size.Size</option>
        }
        </select>
    <p>Energy level</p>
    <select @bind="@_addDogOverview.NewDog.DogEnergyLevelId">
        @foreach (var level in _addDogOverview.NewDogViewModel.EnergyLevels)
        {
            <option value="@level.Id">@level.EnergyLevel</option>
        }
    </select>
    <p>Check if Allergenic <InputCheckbox @bind-Value="_addDogOverview.NewDog.Allergenic"></InputCheckbox> </p>

    <h3>Dog Personality</h3>
    <p>Works with boys = <InputCheckbox @bind-Value="_addDogOverview.NewDogPersonality.WorksWithBoys"></InputCheckbox></p>
    <p>Works with girls = <InputCheckbox @bind-Value="_addDogOverview.NewDogPersonality.WorksWithGirls"></InputCheckbox></p>
    <p>Average walk <InputNumber @bind-Value="_addDogOverview.NewDogPersonality.AverageWalk"></InputNumber></p>
    <p>Timid = <InputCheckbox @bind-Value="_addDogOverview.NewDogPersonality.Timid"></InputCheckbox></p>
    <p>Confident = <InputCheckbox @bind-Value="_addDogOverview.NewDogPersonality.Confident"></InputCheckbox></p>
    <p>Adaptable = <InputCheckbox @bind-Value="_addDogOverview.NewDogPersonality.Adaptable"></InputCheckbox></p>
    <p>Independent = <InputCheckbox @bind-Value="_addDogOverview.NewDogPersonality.Independent"></InputCheckbox></p>
    <p>Laidback = <InputCheckbox @bind-Value="_addDogOverview.NewDogPersonality.LaidBack"></InputCheckbox></p>


    <h3>Dog Preferences</h3>
    <p>Works with boys = <InputCheckbox @bind-Value="_addDogOverview.NewDogPreferences.WorksWithBoys"></InputCheckbox></p>
    <p>Works with girls = <InputCheckbox @bind-Value="_addDogOverview.NewDogPreferences.WorksWithGirls"></InputCheckbox></p>
    <p>Average walk = <InputNumber @bind-Value="_addDogOverview.NewDogPreferences.AverageWalk"></InputNumber> </p>
    <p>Timid = <InputCheckbox @bind-Value="_addDogOverview.NewDogPreferences.Timid"></InputCheckbox> </p>
    <p>Confident = <InputCheckbox @bind-Value="_addDogOverview.NewDogPreferences.Confident"></InputCheckbox> </p>
    <p>Adaptable = <InputCheckbox @bind-Value="_addDogOverview.NewDogPreferences.Adaptable"></InputCheckbox> </p>
    <p>Independent = <InputCheckbox @bind-Value="_addDogOverview.NewDogPreferences.Independent"></InputCheckbox></p>
    <p>Laidback = <InputCheckbox @bind-Value="_addDogOverview.NewDogPreferences.LaidBack"></InputCheckbox>  </p>

    <button @onclick="()=> SaveDog()">Save dog</button>
}