@page "/DogProfile/{dogId}"
@attribute [Authorize(Roles = "Registered")]

@if (_dogProfileOverview.Dog == null)
{
    <p>Loading...</p>

}

else{
    <div hidden="@_dogProfileOverview.EditDog">
        <table>
            <button @onclick="() => _dogProfileOverview.EditDogButton()">Edit dog</button>
            <thead>                
                <th>
                    @_dogProfileOverview.Dog.Name
                </th>
                <th></th>
            </thead>
            <tr>
                <p>Age - @_dogProfileOverview.Dog.Age</p>
                <p>Gender - @_dogProfileOverview.Dog.Gender.GenderOption</p>
                <p>Breed - @_dogProfileOverview.Dog.DogBreed.Breed</p>
                <p>Size - @_dogProfileOverview.Dog.DogSize.Size</p>
                <p>Energy level - @_dogProfileOverview.Dog.DogEnergyLevel.EnergyLevel</p>
                <p>About - @_dogProfileOverview.Dog.About</p>
                <p>Allergenic - @_dogProfileOverview.Dog.Allergenic</p>
            </tr>
            <tr>
                <p><b>Personality</b></p>
                <p>Works with boys - @_dogProfileOverview.DogPreferences.Personality.WorksWithBoys</p>
                <p>Works with girls - @_dogProfileOverview.DogPreferences.Personality.WorksWithGirls</p>
                @*<p>Average walk - @DogPreferences.Personality.AverageWalk</p>*@
                <p>Timid - @_dogProfileOverview.DogPreferences.Personality.Timid</p>
                <p>Confident - @_dogProfileOverview.DogPreferences.Personality.Confident</p>
                <p>Adaptable - @_dogProfileOverview.DogPreferences.Personality.Adaptable</p>
                <p>Independent - @_dogProfileOverview.DogPreferences.Personality.Independent</p>
                <p>Laid back - @_dogProfileOverview.DogPreferences.Personality.LaidBack</p>
            </tr>
            <tr>
                <p><b>Preferences</b></p>
                <p>Works with boys - @_dogProfileOverview.DogPreferences.Preferences.WorksWithBoys</p>
                <p>Works with girls - @_dogProfileOverview.DogPreferences.Preferences.WorksWithGirls</p>
                @*<p>Average walk - @DogPreferences.Preferences.AverageWalk</p>*@
                <p>Timid - @_dogProfileOverview.DogPreferences.Preferences.Timid</p>
                <p>Confident - @_dogProfileOverview.DogPreferences.Preferences.Confident</p>
                <p>Adaptable - @_dogProfileOverview.DogPreferences.Preferences.Adaptable</p>
                <p>Independent - @_dogProfileOverview.DogPreferences.Preferences.Independent</p>
                <p>Laid back - @_dogProfileOverview.DogPreferences.Preferences.LaidBack</p>
            </tr>
        </table>
    </div>
    <div hidden="@(!_dogProfileOverview.EditDog)">
        <table>
            <tr>
                <p>Name - <InputText @bind-Value="@_dogProfileOverview.Dog.Name"> </InputText></p>
                <p>Age - <InputNumber @bind-Value="@_dogProfileOverview.Dog.Age"> </InputNumber> </p>
                @*<InputFile OnChange="LoadFiles" multiple />*@
                @*<MudFileUpload T="IBrowserFile" FilesChanged="SaveChange">
                    <ButtonTemplate>
                        <MudButton HtmlTag="label"
                               Variant="Variant.Filled"
                               Color="Color.Primary"
                               StartIcon="@Icons.Material.Filled.CloudUpload"
                                   for="@context">
                            Upload Picture
                        </MudButton>
                    </ButtonTemplate>
                </MudFileUpload>*@
                <p>
                    Gender -
                    <select @bind="@_dogProfileOverview.Dog.GenderId">
                        @foreach (var gender in _dogProfileOverview.DogViewModel.Genders)
                        {
                            <option value="@gender.Id">@gender.GenderOption</option>
                        }
                    </select>
                </p>
                <p>
                    Breed -
                    <select @bind="@_dogProfileOverview.Dog.DogBreedId">
                        @foreach (var breed in _dogProfileOverview.DogViewModel.Breeds)
                        {
                            <option value="@breed.Id">@breed.Breed</option>
                        }
                    </select>
                </p>
                <p>
                    Size -
                    <select @bind="@_dogProfileOverview.Dog.DogSizeId">
                        @foreach (var size in _dogProfileOverview.DogViewModel.Sizes)
                        {
                            <option value="@size.Id">@size.Size</option>
                        }
                    </select>
                </p>
                <p>
                    Energy level -
                    <select tabindex="@_dogProfileOverview.Dog.DogEnergyLevelId">
                        @foreach (var level in _dogProfileOverview.DogViewModel.EnergyLevels)
                        {
                            <option value="@level.Id">@level.EnergyLevel</option>
                        }
                    </select>
                </p>
                <p>About - <InputText @bind-Value="@_dogProfileOverview.Dog.About"></InputText></p>
                <p>Allergenic - <InputCheckbox @bind-Value="@_dogProfileOverview.Dog.Allergenic"> </InputCheckbox> </p>
            </tr>
            <tr>
                <p><b>Personality</b></p>
                <p>Works with boys - <InputCheckbox @bind-Value="@_dogProfileOverview.DogPreferences.Personality.WorksWithBoys"></InputCheckbox></p>
                <p>Works with girls - <InputCheckbox @bind-Value="@_dogProfileOverview.DogPreferences.Personality.WorksWithGirls"></InputCheckbox></p>
                @*<p>Average walk - <InputNumber @bind-Value="@DogPreferences.Personality.AverageWalk"></InputNumber></p>*@
                <p>Timid - <InputCheckbox @bind-Value="@_dogProfileOverview.DogPreferences.Personality.Timid"></InputCheckbox></p>
                <p>Confident - <InputCheckbox @bind-Value="@_dogProfileOverview.DogPreferences.Personality.Confident"></InputCheckbox></p>
                <p>Adaptable - <InputCheckbox @bind-Value="@_dogProfileOverview.DogPreferences.Personality.Adaptable"></InputCheckbox></p>
                <p>Independent - <InputCheckbox @bind-Value="@_dogProfileOverview.DogPreferences.Personality.Independent"></InputCheckbox></p>
                <p>Laid back - <InputCheckbox @bind-Value="@_dogProfileOverview.DogPreferences.Personality.LaidBack"></InputCheckbox></p>
            </tr>
            <tr>
                <p><b>Preferences</b></p>
                <p>Works with boys - <InputCheckbox @bind-Value="@_dogProfileOverview.DogPreferences.Preferences.WorksWithBoys"></InputCheckbox></p>
                <p>Works with girls - <InputCheckbox @bind-Value="@_dogProfileOverview.DogPreferences.Preferences.WorksWithGirls"></InputCheckbox></p>
                @*<p>Average walk - <InputNumber @bind-Value="@DogPreferences.Preferences.AverageWalk"></InputNumber></p>*@
                <p>Timid - <InputCheckbox @bind-Value="@_dogProfileOverview.DogPreferences.Preferences.Timid"></InputCheckbox></p>
                <p>Confident - <InputCheckbox @bind-Value="@_dogProfileOverview.DogPreferences.Preferences.Confident"></InputCheckbox></p>
                <p>Adaptable - <InputCheckbox @bind-Value="@_dogProfileOverview.DogPreferences.Preferences.Adaptable"></InputCheckbox></p>
                <p>Independent - <InputCheckbox @bind-Value="@_dogProfileOverview.DogPreferences.Preferences.Independent"></InputCheckbox></p>
                <p>Laid back - <InputCheckbox @bind-Value="@_dogProfileOverview.DogPreferences.Preferences.LaidBack"></InputCheckbox></p>
            </tr>
        </table>
        <button @onclick="() => _dogProfileOverview.SaveDogChangesButton(ParsedDogId, Pictures)">Save Changes</button>       
    </div>
}