@using MudBlazor

@page "/DogPark/{memberId}"

<h3>The Dog Park</h3>

@if(User == null)
{
    <p>Loading...</p>
}

else
{

    <p>Pick a dog to filter on</p>
    <p>Don't worry! After you filter on one of your pups, your own preferences will also be applied!</p>
    <select @bind="@DogName" style="width:250px;">
        <option value="null"></option>
        @foreach (var dog in UserDogFilters)
        {
            <option value="@dog.DogName">@dog.DogName</option>
        }
    </select>
    <MudButtonGroup Color="Color.Secondary" Size="Size.Medium" Variant="Variant.Outlined">
        <MudButton @onclick="() => FilterOnDog()">Filter</MudButton>
    </MudButtonGroup>
    


    @if (FilteredList.Count() == 0)
    {
        <p>Looks like there's no dogs in the park right now!</p>        
    }


    <MudCarousel Class="mud-width-full" Style="height:300px; width:400px;" AutoCycle="false" TData="object">
        <BulletTemplate Context="selected">
            <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
                <span class="mud-icon-button-label">
                    <MudIcon Icon="@(selected ? Icons.Material.Filled.CheckCircle : Icons.Material.Filled.Circle)" Color="@Color.Inherit" />
                </span>
            </div>
        </BulletTemplate>
        <PreviousButtonTemplate>
            <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
                <span class="mud-icon-button-label">
                    <MudIcon Class="mud-ripple mud-ripple-icon mud-icon-button-size-medium" Icon="@Icons.Material.Filled.SkipPrevious" Color="@Color.Inherit" />
                </span>
            </div>
        </PreviousButtonTemplate>
        <NextButtonTemplate>
            <div Class="mud-button-root mud-icon-button mud-icon-button-color-inherit mud-ripple mud-ripple-icon">
                <span class="mud-icon-button-label">
                    <MudIcon Class="mud-ripple mud-ripple-icon mud-icon-button-size-medium" Icon="@Icons.Material.Filled.SkipNext" Color="@Color.Inherit" />
                </span>
            </div>
        </NextButtonTemplate>
        <ChildContent>
            @foreach (var dog in FilteredList)
            {
                <MudCarouselItem Color="@Color.Primary">
                    <MudCard>
                        <center>
                            <MudCardContent>
                                <MudText>@dog.Name</MudText>
                                <MudText Typo="Typo.body2">is @dog.Age years old. Of breed @dog.DogBreed</MudText>
                            </MudCardContent>
                            <MudCardActions>
                                <MudButton Variant="Variant.Text" Color="Color.Primary">Bark now!</MudButton>
                            </MudCardActions>
                        </center>
                    </MudCard>
                </MudCarouselItem>
            }
        </ChildContent>
    </MudCarousel>

}