@page "/EditProfile/{memberId}"

<h3>Edit Profile</h3>

@if (UserProfile == null)
{
    <p>Loading...</p>
}

else
{
    <h3>User</h3>
    
    <p>First name</p>
    <InputText @bind-Value="@User.FirstName"></InputText>
    <p>Last name</p>
    <InputText @bind-Value="@User.LastName"></InputText>
    <p>Email</p>
    <InputText @bind-Value="@User.Email"></InputText>
    <p>Age</p>
    <InputNumber @bind-Value="@User.Age"></InputNumber>

    <h3>Profile</h3>
    
    <p>Gender</p>
    <InputText @bind-Value="@UserProfile.Gender"></InputText>
    <p>Sexuality</p>
    <InputText @bind-Value="UserProfile.Sexuality"></InputText>
    <p>Job</p>
    <InputText @bind-Value="UserProfile.Job"></InputText>
    <p>Location</p>
    <InputText @bind-Value="UserProfile.Location"></InputText>
    <p>About</p>
    <InputText @bind-Value="UserProfile.About"></InputText>


    <h3>Preferences</h3>

    <p>Gender</p>
    <InputText @bind-Value="UserProfile.UserPreferences.Gender"></InputText>
    <p>Range</p>
    <InputNumber @bind-Value="UserProfile.UserPreferences.LocationRange"></InputNumber>
    <p>Youngest age</p>
    <InputNumber @bind-Value="UserProfile.UserPreferences.YoungestAge"></InputNumber>
    <p>Oldest age</p>
    <InputNumber @bind-Value="UserProfile.UserPreferences.OldestAge"></InputNumber>

    <h3>Hobbies</h3>
    <p>Nature <InputCheckbox @bind-Value="UserProfile.UserHobbies.Nature"></InputCheckbox> </p>
    <p>Hiking <InputCheckbox @bind-Value="UserProfile.UserHobbies.Hiking"></InputCheckbox> </p>
    <p>Swimming <InputCheckbox @bind-Value="UserProfile.UserHobbies.Swimming"></InputCheckbox> </p>
    <p>Music <InputCheckbox @bind-Value="UserProfile.UserHobbies.Music"></InputCheckbox> </p>
    <p>Gaming <InputCheckbox @bind-Value="UserProfile.UserHobbies.Gaming"></InputCheckbox> </p>
    <p>Movies <InputCheckbox @bind-Value="UserProfile.UserHobbies.Movies"></InputCheckbox> </p>
    <p>Gymming <InputCheckbox @bind-Value="UserProfile.UserHobbies.Gymming"></InputCheckbox> </p>

    <button @onclick="() => SaveChanges()">Save Changes</button>
}