@page "/EditProfile/{memberId}"

<h3>Edit Profile</h3>

@if (_editProfileOverview.UserProfile == null)
{
    <p>Loading...</p>
}

else
{
    <h3>User</h3>
    
    <p>First name</p>
    <InputText @bind-Value="@_editProfileOverview.User.FirstName"></InputText>
    <p>Last name</p>
    <InputText @bind-Value="@_editProfileOverview.User.LastName"></InputText>
    <p>Email</p>
    <p>@_editProfileOverview.User.Email</p>
    <p>Age</p>
    <InputNumber @bind-Value="@_editProfileOverview.User.Age"></InputNumber>

    <h3>Profile</h3>

    <p>Gender</p>
@*    <select @bind="@UserProfile.GenderId">
        @foreach (var gender in Genders)
        {
            <option value="@gender.Id">@gender.GenderOption</option>
        }
    </select>*@
    <p>Sexuality</p>
    <InputText @bind-Value="_editProfileOverview.UserProfile.Sexuality"></InputText>
    <p>Job</p>
    <InputText @bind-Value="_editProfileOverview.UserProfile.Job"></InputText>
    <p>Location</p>
    <InputText @bind-Value="_editProfileOverview.UserProfile.Location"></InputText>
    <p>About</p>
    <InputText @bind-Value="_editProfileOverview.UserProfile.About"></InputText>


    <h3>Preferences</h3>

    <p>Gender</p>
    <select @bind="@_editProfileOverview.UserProfile.UserPreferences.Gender">
        @foreach (var gender in _editProfileOverview.Genders)
        {
            <option value="@gender.GenderOption">@gender.GenderOption</option>
        }
    </select>    
    <p>Range</p>
    <InputNumber @bind-Value="_editProfileOverview.UserProfile.UserPreferences.LocationRange"></InputNumber>
    <p>Youngest age</p>
    <InputNumber @bind-Value="_editProfileOverview.UserProfile.UserPreferences.YoungestAge"></InputNumber>
    <p>Oldest age</p>
    <InputNumber @bind-Value="_editProfileOverview.UserProfile.UserPreferences.OldestAge"></InputNumber>

    <h3>Hobbies</h3>
    <p>Nature <InputCheckbox @bind-Value="_editProfileOverview.UserProfile.UserHobbies.Nature"></InputCheckbox> </p>
    <p>Hiking <InputCheckbox @bind-Value="_editProfileOverview.UserProfile.UserHobbies.Hiking"></InputCheckbox> </p>
    <p>Swimming <InputCheckbox @bind-Value="_editProfileOverview.UserProfile.UserHobbies.Swimming"></InputCheckbox> </p>
    <p>Music <InputCheckbox @bind-Value="_editProfileOverview.UserProfile.UserHobbies.Music"></InputCheckbox> </p>
    <p>Gaming <InputCheckbox @bind-Value="_editProfileOverview.UserProfile.UserHobbies.Gaming"></InputCheckbox> </p>
    <p>Movies <InputCheckbox @bind-Value="_editProfileOverview.UserProfile.UserHobbies.Movies"></InputCheckbox> </p>
    <p>Gymming <InputCheckbox @bind-Value="_editProfileOverview.UserProfile.UserHobbies.Gymming"></InputCheckbox> </p>

    <button @onclick="() => SaveChanges()">Save Changes</button>
}